.notFoundContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 0.6;
}

.notFoundText {
    text-align: center;
}

.notFoundImage {
    width: 20%;
}